@charset "UTF-8";


/*全体用*/
body{
	margin:0px;
	text-align: center;
	max-width: 1500px;
}
header{
	width: 100%;
	align-items: center;
	background-color: white;
	background-position: 0 50px;
	box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
	position: fixed;
	z-index: 9999;
}
main{
	width: 100%;
	padding-top: 50px;
}
h1{
	width:730px; 
	padding: 20px 0;
	margin:0 auto; 
	border:1px solid black;
	background-color:lightseagreen;
	color:white;
	text-align: center;
	font-size: 300%;
}
/*ここまで*/

/*ナビゲーション用*/
.label a {
	font-weight: bold;
	font-size: 16px;
	padding:0 10px;
	margin: 0 5px;
}
.label ul {
	font-size: 0;
	box-sizing: border-box;
	width: 100%;
	padding: 20px;
	list-style: none;
	text-align: center;
}
.label li {
	font-size: 24px;
	margin: 0 8px;
	display: inline-block;
}
.label li a {
	text-decoration: none;
	padding-bottom: 3px;
	color: #000;
	display: block;
	position: relative;
}
.label li a:before {
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	transition: all 0.3s ease;
	border-bottom: 3px solid #000;
	position: absolute;
	display: block;
}
.label li a:hover:before {
	width: 50%;
	border-bottom: 3px solid #000;
}
.label li a:after {
	content: '';
	width: 0;
	right: 50%;
	bottom: 0;
	transition: all 0.3s ease;
	border-bottom: 3px solid #000;
	position: absolute;
	display: block;
}
.label li a:hover:after {
	width: 50%;
	border-bottom: 3px solid #000;
}
/*ここまで*/

/*フォーム用*/
form{
	max-width: 1000px;
	margin: 0 auto;
}
.Form-Item {
	border-top: 1px solid #ddd;
	padding-top: 24px;
	padding-bottom: 24px;
	width: 100%;
	display: flex;
	align-items: center;
}
	
.Form-Item:nth-child(5) {
	border-bottom: 1px solid #ddd;
}
	
.Form-Item-Label {
	width: 100%;
	max-width: 248px;
	letter-spacing: 0.05em;
	font-weight: bold;
	font-size: 18px;
}

.Form-Item-Label-isMsg {
	width: 100%;
	max-width: 248px;
	letter-spacing: 0.05em;
	font-weight: bold;
	font-size: 18px;
}

.Form-Item-Input {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-left: 40px;
	padding-left: 1em;
	padding-right: 1em;
	height: 48px;
	flex: 1;
	width: 100%;
	max-width: 410px;
	background: #eaedf2;
	font-size: 18px;
}

.Form-Btn {
	border-radius: 6px;
	margin: 32px auto;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 280px;
	display: block;
	letter-spacing: 0.05em;
	background: #5bc8ac;
	color: #fff;
	font-weight: bold;
	font-size: 20px;
}

.Form-Item-Textarea {
	border: 1px solid #ddd;
	border-radius: 6px;
	margin-left: 40px;
	padding-left: 1em;
	padding-right: 1em;
	height: 216px;
	flex: 1;
	width: 100%;
	max-width: 410px;
	background: #eaedf2;
	font-size: 18px;
}
/*ここまで*/


/*右下の上に行くやつ*/
#page_top{
	width: 50px;
	height: 50px;
	position: fixed;
	right: 0;
	bottom: 0;
	background: #3f98ef;
	opacity: 0.6;
}
	
#page_top a{
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	text-decoration: none;
}

#page_top a::before{
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: '\f102';
	font-size: 25px;
	color: #fff;
	position: absolute;
	width: 25px;
	height: 25px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	text-align: center;
}
/*ここまで*/
